spring:
    devtools:
        restart:
            enabled: true
            #additional-paths: src/main/java
            trigger-file: .restartTriggerFile
        livereload:
            port: 54567
    thymeleaf:
        cache: false
    datasource:
        username: xfl
        password: amazingxfl666
        url: "jdbc:mysql://localhost:3306/xfl_mybigdata?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true&allowMultiQueries=true"
        driver-class-name: com.mysql.cj.jdbc.Driver
        type: com.alibaba.druid.pool.DruidDataSource
        # druid 其它配置
        druid:
            initialSize: 5
            minIdle: 5
            maxActive: 60
            maxWait: 120000
            defaultAutoCommit: true
            poolPreparedStatements: true
            maxPoolPreparedStatementPerConnectionSize: 50
            aop-patterns: cc.xfl12345.mybigdata.*
            use-global-data-source-stat: false
            connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000;
            filters: config,stat,slf4j,wall # wall用于防火墙
            filter:
                wall:
                    config:
                        alter-table-allow: true
                        # 允许一次执行多条语句
                        multi-statement-allow: true
                        # 允许非基本语句的其他语句
                        none-base-statement-allow: true
            #是否启用StatFilter默认值false，用于采集 web-jdbc 关联监控的数据。
            web-stat-filter:
                enabled: true
                #排除一些静态资源，以提高效率
                exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
                #需要监控的 url
                url-pattern: "/*"
    sql:
        init:
            encoding: UTF-8
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss.SSS
        property-naming-strategy: LOWER_CAMEL_CASE
        time-zone: GMT+8
        default-property-inclusion: non_null
    servlet:
        multipart:
            max-file-size: -1
    mvc:
        converters:
            preferred-json-mapper: jackson
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp
        contentnegotiation:
            favor-parameter: true
    data:
        rest:
            default-media-type: application/json


# Sa-Token配置
sa-token:
    # token名称 (同时也是cookie名称)
    token-name: mybigdata
    # token有效期，单位s 默认30天, -1代表永不过期
    timeout: 604800 # 一个星期
    # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
    activity-timeout: 600
    # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
    is-concurrent: true
    # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
    is-share: false
    # token风格
    token-style: uuid
    # 是否输出操作日志
    is-log: true


server:
    port: 8081
    tomcat:
        accesslog:
            enabled: true
            encoding: UTF-8
            ipv6-canonical: true
    servlet:
        encoding:
            enabled: true
            charset: UTF-8


debug: true
logging:
    charset:
        console: UTF-8

